@import '_settings';
@import '~foundation-sites/scss/util/util';

.top-bar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transform: none;
  width: 100%;
  z-index: 10;

  @include breakpoint(large) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.top-bar-title {
  background: url(../images/logo-basic.svg) 50% 50% / contain no-repeat;
  height: 50px;
  margin-right: 0;
  width: 50px;

  @include breakpoint(large) {
    width: 70px;
  }
}

.top-bar .top-bar-right {
  width: auto;
}

.menu > li > a {
  color: inherit;
  font-size: 14px;
  padding: 1.2rem 0.4rem;

  @include breakpoint(large) {
    font-size: 16px;
    padding: 0.7rem 1rem;
  }
}
