
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

@import "utils/utils";

@import "settings";


@import "~foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-visibility-classes;
@include foundation-button;
@include foundation-top-bar;
@include foundation-menu;

@import
  "components/layout/base",
  "components/schedule/base",
  "components/page/base",
  "components/vectors/base",
  "components/form/base",
  "components/speaker/base",
  "components/modal/base",
  "components/google-maps/base",
  "components/flex-embed",
  "top-bar";

html {
  @include breakpoint(medium) {
  	font-size: 115%;
  }

  @include breakpoint(large) {
  	font-size: 130%;
  }
}

body {
  padding-top: 70px;
}

h4 {
  font-weight: 400;
}

strong {
  font-weight: 400;
}

.u-title {
  font-size: 48px;
  font-weight: 100;
  @include breakpoint(large) {
    font-size: 4.4vw;
  }
}

.u-subtitle {
  font-size: 22px;
  @include breakpoint(large) {
    font-size: 1.8vw;
  }
}

.u-shoutout {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}

.u-separator {
  background: #000;
  height: 4px;
}

.no-scroll {
  overflow: hidden;
}

.u-offsetParent {
  position: relative;
}

dl {
  padding-left: 1em;
}

dl dt {
  margin: 0.3rem 0 0;
}
