@import "vendor/normalize";

$size: 300px;

* {
  background: transparent;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes bg {
  0% { background: #2e2e2c; }
  100% {  background: #f3df49; }
}


@keyframes form {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo {
  0% { transform: translateY(100px); }
  100% { transform: translateY(0); }
}

html,
body {
  height: 100%;
}

body {
  animation: bg .7s 1s backwards;
  background: #f3df49;
  border: 8px solid #2e2e2c;
  color: #2e2e2c;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}

.Logo {
  animation: logo 1s 2s backwards;
  background: url(/images/logo.svg);
  color: transparent;
  display: inline-block;
  font: 0/0 a;
  height: $size;
  overflow: hidden;
  margin: -68px 0 0 -10px;
  text-shadow: none;
  width: $size;
}

.Form {
  &-title,
  &-input,
  &-submit {
    animation: form .8s 2.5s backwards;
    clear: both;
    display: inline-block;
    text-align: center;
    width: $size;

    &:before {
      content: ' ';
      display: block;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 900;
    margin: 12px 0;
  }

  &-input {
    animation-delay: 3.25s;
    color: white;
    background: #2e2e2e;
    padding: 10px;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  &-submit {
    animation-delay: 3.6s;
    border: 2px solid #2e2e2e;
    margin-top: 8px;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
  }
}

.Center {
  display: table;
  height: 100%;
  width: 100%;

  &-content {
    display: table-cell;
    vertical-align: middle;
  }
}
