
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

@import "utils/utils";

@import "settings";

@import "foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-flex-grid;
@include foundation-button;

@import
  "components/layout/base",
  "components/page/base",
  "components/vectors/base",
  "components/form/base",
  "components/google-maps/base",
  "tito";

html {
  @include breakpoint(medium) {
  	font-size: 115%;
  }

  @include breakpoint(large) {
  	font-size: 130%;
  }
}

strong {
  font-weight: 400;
}
