@import "../../css/settings";
@import "~foundation-sites/scss/util/util";

$color-jsconf-orange: #f2cb13;
$card-size: 230px;
$card-margin: 5px;

.Card {
  float: left;
  padding-top: 50%;
  position: relative;
  width: 50%;

  &-body {
    background: $color-jsconf-orange;
    bottom: $card-margin;
    color: #2e2e2e;
    left: 0;
    position: absolute;
    right: $card-margin;
    text-align: center;
    top: 0;
  }

  @include breakpoint(large) {
    padding-top: 33.333333%;
    width: 33.333333%;

    &-pushLeft {
      clear: both;
      margin-left: -33.333333%;
    }
  }
}

.Card--interactive .Card-body {
  cursor: pointer;
  transition: color 300ms, background 300ms, box-shadow 300ms, z-index 300ms 300ms;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  &:hover {
    background: #2e2e2c;
    color: $color-jsconf-orange;
    transition-delay: 0ms;
    z-index: 4;
  }

  @include breakpoint(large) {
    &:hover {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
  }
}

.CardContainer {
  position: relative;
  margin-right: -$card-margin;
}

.CardIcon {
  display: inline-block;
  height: 50%;
  left: 25%;
  position: absolute;
  top: 15%;
  width: 50%;

  .Svg {
    width: 100%;
    height: 100%;
  }
}

.CardTitle {
  display: block;
  font-size: 5vw;
  left: 0;
  position: absolute;
  right: 0;
  top: 72%;
  text-align: center;

  @include breakpoint(large) {
    font-size: 1.7vw;
  }

  @media (min-width: 1680px) {
    font-size: 28.25px;
  }
}
