@import "../../css/settings";

$color-jsconf-orange: #f2cb13;
$card-size: 230px;
$card-margin: 5px;

.Card {
  background: $color-jsconf-orange;
  color: #000;
  display: flex;
  flex-direction: column;
  float: left;
  height: 160px;
  margin: 0 $card-margin $card-margin 0;
  text-align: center;
  vertical-align: top;
  width: calc(50% - 5px);

  @media (min-width: 768px) {
    padding-top: 33.333333%;
    position: relative;
    width: 33.333333%;

    &:nth-child(odd) {
      clear: both;
    }

    &:nth-child(8) {
      clear: both;
      margin-left: -($card-size + $card-margin);
    }

    &:nth-child(9) {
      clear: none;
    }

    &:nth-child(3) {
      margin-left: $card-size + $card-margin;
    }
  }

  @media (min-width: 1100px) {
    &:nth-child(4) {
      position: absolute;
      top: $card-size + $card-margin;
      right: $card-margin * -2;
    }
  }
}

.Card--interactive {
  cursor: pointer;
  transition: color 300ms, background 300ms;

  &:hover {
    background: #2e2e2c;
    color: $color-jsconf-orange;
  }
}

.CardContainer {
  position: relative;
}

.CardIcon {
  display: inline-block;

  .Svg {
    max-width: 124px;
  }
}

.CardTitle {
  display: block;
  font-size: 1.5vw;
}
