@import "../../css/settings";
@import "../../css/utils/utils";

.CardContainer {
  display: flex;
  flex: 0 1;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint(medium) {
    height: 100vh;
  }

  @include breakpoint(large) {
    flex-direction: row;
  }
}

.Card {
  align-items: center;
  display: flex;
  font-size: 24px;
  height: 135px;
  min-height: 115px;
  overflow: hidden;
  padding: 25px;

  &:nth-child(odd) {
    background: $color-jsconf-yellow;
    color: $color-gray-75;
  }

  &:nth-child(even) {
    background: $color-gray-75;
    color: $color-jsconf-yellow;
  }

  @include breakpoint(medium) {
    height: calc(100% / 3);
    justify-content: center;
    min-height: 0;
    padding: 0;
    width: 50%;
  }

  @include breakpoint(large) {
    font-size: 32px;
    height: 50%;
    width: calc(100% / 3);
  }
}

.CardContent {
  position: relative;
  width: 100%;

  @include breakpoint(medium) {
    transition: transform 300ms;
    transform: translateZ(0);
    text-align: center;
  }
}

.CardBlurb {
  background: $color-jsconf-purple;
  color: #fff;
  left: 0;
  padding: 2px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100%;
  transition: opacity .3s, transform .3s;
  z-index: 2;
}

// When leaving.
.CardBlurb {
  opacity: 0;
  transform: none;
}


@include breakpoint(medium) {
  .Card:focus .CardContent,
  .Card:hover .CardContent {
    transform: translateZ(0) scale(1.1);
  }

  .Card:focus .CardBlurb,
  .Card:hover .CardBlurb {
    transform: translate(0, -100%);
  }
}


.CardTitle {
  display: inline-block;
  line-height: 1.2;
  left: 0;
  right: 0;
  top: 100%;
  vertical-align: middle;

  @include breakpoint(medium) {
    display: block;
    margin-top: 16px;
    white-space: nowrap;
  }

  small {
    display: block;
  }
}

.CardTitle-inner {
  display: inline-block;
}

.CardIcon {
  display: inline-block;

  @media (max-width: (map_get($breakpoints, medium) - 1)) {
    margin-right: 25px;
    vertical-align: middle;
    width: 70px;

    .Svg {
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }
}
