footer
  .row
    .column
      p: b JSConf Iceland
      p
        a(href='/sponsors') Sponsors
        br
        a(href='/something') Something
        br
        a(href='/else') Else
    .column.medium-6
      include ../partials/_form
