.SponsorFooter
  .row.align-center.text-center: .column.large-8.medium-10.small-12
    h1 Sponsors
    p
      | The great companies below are supporting us in 2016 – Thank&nbsp;you!
    .Sponsors.Sponsors--platinum
      a.Sponsors-box(href="https://advania.is" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/advania.png" title="Advania")
      a.Sponsors-box(href="https://www.ampproject.org" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/google.png" title="AMP Project")
    .Sponsors.Sponsors--silver
      a.Sponsors-box(href="https://aranja.com" target="_blank")
        .Sponsors-inner.Sponsors-inner--no-border
          img.Sponsors-image(src="/images/sponsors/aranja.svg" title="Aranja")
      a.Sponsors-box(href="https://bloomberg.com" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/bloomberg.svg" title="Bloomberg")
      a.Sponsors-box(href="https://highcharts.com" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/highcharts.png" title="Highcharts")
      a.Sponsors-box(href="https://www.landsbankinn.is" target="_blank")
        .Sponsors-inner.Sponsors-inner--no-border
          img.Sponsors-image(src="/images/sponsors/landsbankinn.jpg" title="Landsbankinn")
      a.Sponsors-box(href="https://www.mozilla.org" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/mozilla.svg" title="Mozilla")
      a.Sponsors-box(href="http://tempo.io" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/tempo.svg" title="Tempo")
      a.Sponsors-box(href="http://upperquad.com" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/upperquad.png" title="UPPERQUAD")
    .Sponsors.Sponsors--bronze
      a.Sponsors-box(href="https://ccpgames.com/" target="_blank")
        .Sponsors-inner
          img.Sponsors-image(src="/images/sponsors/ccp.png" title="CCP")
      a.Sponsors-box(href="https://ueno.co/" target="_blank")
        .Sponsors-inner.Sponsors-inner--no-border
          img.Sponsors-image(src="/images/sponsors/ueno.png" title="UENO")
      a.Sponsors-box(href="https://viewsourceconf.org/" target="_blank")
        .Sponsors-inner.Sponsors-inner--no-border
          img.Sponsors-image(src="/images/sponsors/viewsourceconf.jpg" title="VIEW SOURCE")
        
    p.text-center
      | Travel sponsors: DigitalOcean, Hudl, Spotify, appear.in, Capital One Financial Corporation, Amazon, Originate, Mozilla – Thank you!

footer.Footer
  .row
    .column
      .SocialLinks
        a.SocialLinks-link.SocialLinks-github(href='https://github.com/jsis/jsconf.is') Github
        a.SocialLinks-link.SocialLinks-twitter(href='https://twitter.com/jsconfis') Twitter
      | JSConf Iceland welcomes everyone and defends you from harassment. 
      .FooterLinks
        a.FooterLinks-link(href='http://confcodeofconduct.com/') Code of conduct
        |  | 
        a.FooterLinks-link(href='http://eepurl.com/bO8F8X') Mailing list
        |  | 
        a.FooterLinks-link(href='https://jsconfis.typeform.com/to/FN7Bla') Sponsor interest
        |  | 
        a.FooterLinks-link(href='mailto:team@jsconf.is') team@jsconf.is
