footer
  .row
    .column
      .SocialLinks
        a.SocialLinks-link.SocialLinks-github(href='https://github.com/jsis/jsconf.is') Github
        a.SocialLinks-link.SocialLinks-twitter(href='https://twitter.com/jsconfis') Twitter
      | JSConf Iceland welcomes everyone and defends you from harassment. 
      .FooterLinks
        a(href='http://confcodeofconduct.com/') Code of conduct
        |  | 
        a(href='http://eepurl.com/bO8F8X') Mailing list
        |  | 
        a(href='https://jsconfis.typeform.com/to/FN7Bla') Sponsor interest
        |  | 
        a(href='mailto:team@jsconf.is') team@jsconf.is
