footer
  .row
    .column.small-12.medium-6
      p: b JSConf Iceland
      p
        a(href='/sponsors') Sponsors
        br
        a(href='/something') Something
        br
        a(href='/else') Else
    .column
      include ../partials/_form
