.SponsorFooter
  .row.align-center: .column.large-8.medium-10.small-12
    h1.text-center Sponsoring
    p
      | We are currently offering sponsorship opportunities for JSConf Iceland. 
      a.BgLink(href="https://jsconfis.typeform.com/to/FN7Bla") Contact us for details
      | .
    //  | The great companies below are supporting us in 2016 – Thank you!
    //.row
    //  .column.small-6.medium-3
    //    a.SponsorBox(href="https://sponsor.com")
    //      img.SponsorBox-image(src="/images/sponsors/sponsor.png" title="Sponsor")

footer.Footer
  .row
    .column
      .SocialLinks
        a.SocialLinks-link.SocialLinks-github(href='https://github.com/jsis/jsconf.is') Github
        a.SocialLinks-link.SocialLinks-twitter(href='https://twitter.com/jsconfis') Twitter
      | JSConf Iceland welcomes everyone and defends you from harassment. 
      .FooterLinks
        a.FooterLinks-link(href='http://confcodeofconduct.com/') Code of conduct
        |  | 
        a.FooterLinks-link(href='http://eepurl.com/bO8F8X') Mailing list
        |  | 
        a.FooterLinks-link(href='https://jsconfis.typeform.com/to/FN7Bla') Sponsor interest
        |  | 
        a.FooterLinks-link(href='mailto:team@jsconf.is') team@jsconf.is
