footer
  .row
    .column
      | JSConf Iceland welcomes everyone, and defends you from harassment. 
      .FooterLinks
        a(href='http://confcodeofconduct.com/') Code of Conduct
        |  | 
        a(href='http://eepurl.com/bO8F8X') Mailing List
        |  | 
        a(href='mailto:team@jsconf.is') team@jsconf.is
