doctype html

html
  include _head

  body
    block nav

    main
      block main

    block footer
      include _footer

    block javascript
      script(src='/scripts/main.js')
      script(src='//www.google-analytics.com/analytics.js')
