doctype html

html
  include _head

  body
    block nav

    main
      block main

    block footer
      include _footer

    block javascript
      script(src='/scripts/main.js')
      script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmbgyT0jcVjZD75YdJ5w3UsN3AU0nsW8&callback=initMap')
      script(src='//www.google-analytics.com/analytics.js')
