doctype html

html.is-loading
  include _head

  body
    block nav

    main
      block main

    block footer
      include _footer

    .Modal(data-modal aria-hidden='true')
      button.Modal-close(data-modal-close style='touch-action: manipulation') Close
      .Modal-gradient
      .Modal-body
        .Modal-sidebar(data-modal-sidebar)
        .Modal-content(data-modal-content)
        .Modal-footer(data-modal-footer)
          button.Modal-btn(data-modal-prev)
            i.Modal-prev
          button.Modal-btn(data-modal-next)
            i.Modal-next

    block javascript
      script(src='/scripts/main.js')
      script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmbgyT0jcVjZD75YdJ5w3UsN3AU0nsW8&callback=initMap')
      script(src='//www.google-analytics.com/analytics.js')
