block vars
  - var path = '/';

.Page-wrap
  header.Page-header(route=path)
    .Page-headerData
      .Page-icon
        block icon
      h1.Page-title
        block title
      button.Page-close(route='index') Close

  article.Page-content
    .row: .column.small-12
      block content
