block vars
  - var siteTitle = true;
  - var path = '/';
  - var blurb = null

section.Page(js-route=path, style='touch-action: manipulation')
  .Page-wrap
    header.Page-header
      .Page-headerData
        if siteTitle
          .Page-siteTitle
            | JSConf Iceland
            br
            small August 25#[sup th] &mdash; 26#[sup th] 2016
        .Page-icon
          block icon
        h1.Page-title
          block title
        button.Page-close(js-route='index', style='touch-action: manipulation') Close

    article.Page-content
      .row.align-center: .column.large-8.medium-10.small-12: block content
      block map

    .Page-footer
      include _footer

  if blurb
    .Page-blurb!= blurb
