@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

.Details {
  border: 1px solid rgba(black, .2);
  border-right: none;
  background: white;
  bottom: 5px;
  box-shadow: 0 40px 60px rgba(black, .4);
  opacity: 0;
  overflow-y: auto;
  left: 5px;
  padding: 24px;
  position: fixed;
  right: 5px;
  top: 68px;
  transition: opacity 400ms, visibility 0s 400ms, transform 400ms;
  visibility: hidden;
  transform: translateY(100%);

  @include breakpoint(large) {
    font-size: .7em;
    bottom: 0;
    right: 0;
    left: 60%;
    transform: translateX(100%);
    width: 40%;
  }

  &.is-active {
    opacity: 1;
    transform: none;
    transition-delay: 0s;
    visibility: visible;
  }
}
