@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

.Details {
  border: 1px solid rgba(black, .2);
  border-right: none;
  background: white;
  bottom: 5px;
  box-shadow: 0 40px 60px rgba(black, .4);
  opacity: 0;
  overflow-y: auto;
  left: 5px;
  padding: 24px;
  position: fixed;
  right: 5px;
  top: 68px;
  transition: opacity 400ms, visibility 0s 400ms, transform 400ms;
  visibility: hidden;
  transform: translateY(100%);

  @include breakpoint(large) {
    box-shadow: none;
    bottom: 0;
    right: 0;
    left: 60%;
    transform: translateX(50%);
    width: 40%;
    z-index: 1;
  }

  @include breakpoint(xlarge) {
    padding: 48px;
  }

  &.is-active {
    opacity: 1;
    transform: none;
    transition-delay: 0s;
    visibility: visible;
  }
}

.Details-title {
  font-weight: 600;
  margin: 1em 0 0;
}

.Details-meta {
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  margin: 1em 0;
  padding-bottom: 1em;

  @include breakpoint(large) {
    font-size: 20px;
  }
}

.Details-track {
  color: $color-jsconf-purple;
}

.Details-time {
  font-weight: 300;
}

.Details-speaker {
  align-items: center;
  display: flex;
  margin: auto 0 0;
}

.Details-speakerImg {
  border-radius: 50%;
  display: block;
  width: 100px !important;
}

.Details-speakerInfo {
  text-align: left;
  margin-left: 24px;
}

.Details-controls {
  display: flex;
  margin: -10px -10px 000;

  > button {
    cursor: pointer;
    height: 44px;
    width: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    position: relative;
  }
}

.Details-leftArrow,
.Details-rightArrow,
.Details-close {
  &::before,
  &::after {
    content: '';
    background: #bbb;
    display: block;
    height: 24px;
    left: 50%;
    margin: -12px 0 0 -1px;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
    width: 2px;
  }
}

.Details-closeBtn {
  margin-right: auto;
}

.Details-close {
  &::before { transform: rotate(45deg); }
  &::after { transform: rotate(-45deg); }
}

.Details-leftArrow,
.Details-rightArrow {
  &::before,
  &::after {
    height: 12px;
    margin-top: -6px;
  }
}

.Details-leftArrow {
  &::before { transform: translatex(-4.25px) rotate(-45deg) translateY(50%); }
  &::after { transform: translatex(-4.25px) rotate(45deg) translateY(-50%); }
}

.Details-rightArrow {
  &::before { transform: translatex(4.25px) rotate(45deg) translateY(50%); }
  &::after { transform: translatex(4.25px) rotate(-45deg) translateY(-50%); }
}

