
.Event {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 400ms, visibility 0s 400ms;
}

.Event.is-active {
  opacity: 1;
  position: relative;
  visibility: visible;
  transition-delay: 0s;
}
