@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

.Events {
  display: flex;
  flex-wrap: wrap;
}

.Events-title {

  display: inline-block;
  font-size: 28.8px;
  left: 0;
  margin: 48px auto 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;

  @include breakpoint(medium) {
    font-size: 52px;
  }
}

.Events-subtitle {
  font-size: 14.4px;
  margin-top: 4px;
  margin-bottom: 20px;

  @include breakpoint(medium) {
    font-size: 26px;
  }
}

.Events-group {
  padding: 0 15px;
  width: 100%;

  @include breakpoint(large) {
    padding: 0 0 0 15px;
    transition: transform 400ms;
    width: 60%;

    &.is-centered {
      transform: translateX(100% / 3);
    }
  }
}

.Events-filters {
  text-align: right;
  padding: 0 20px 10px;

  @media (min-width: 525px) {
    text-align: center;
    padding: 0;
  }
}

.Events-heart {
  background: no-repeat left top;
  background-size: 49px 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  width: 24.5px;

  &--gray {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
  }

  &.is-filled {
    background-position-x: -25px;
  }
}

.Events-tabs {
  flex-basis: 100%;
  margin: -20px 0 20px;
  text-align: center;
  position: relative;
  z-index: 2;

  @include breakpoint(large) {
    flex-basis: 60%;
    margin-bottom: 64px;
    transition: transform 400ms;

    &.is-centered {
      transform: translateX(100% / 3);
    }
  }
}

.Events-tab {
  display: block;
  font-weight: 500;
  outline: none;
  padding: 12px 15px;
  text-transform: uppercase;
  transition: background 250ms, color 250ms;

  @include breakpoint(large) {
    display: inline-block;
    font-size: 18px;
  }

  &.is-active {
    color: $color-jsconf-yellow;
    opacity: 1;
  }
}

.Events ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
