@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

.Events {
  display: flex;
  flex-wrap: wrap;
}

.Events-group {
  padding: 0 15px;

  @include breakpoint(large) {
    padding: 0 0 0 15px;
    transition: transform 400ms;
    width: 60%;
    
    &.is-centered {
      transform: translateX(100% / 3);
    }
  }
}

.Events-tabs {
  flex-basis: 100%;
  margin-bottom: 32px;
  text-align: center;
}

.Events-tab {
  font-size: 18px;
  margin: 0 14px;
  outline: none;
  opacity: .5;
  text-transform: uppercase;
  transition: opacity 300ms;

  &.is-active {
    border-bottom: 1px solid black;
    opacity: 1;
  }
}

.Events ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
