@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

$SlotBorder: 1px solid rgba(black, .2);

.Slot {
  border-bottom: $SlotBorder;
  align-items: flex-start;
  display: flex;
  min-height: 64px;

  :first-child > & {
    border-top: $SlotBorder;
  }
}

.Slot-time {
  box-sizing: content-box;
  border: $SlotBorder;
  border-top: none;
  font-size: 14px;
  line-height: 16px;
  margin-right: 15px;
  margin-bottom: -1px;
  width: 35px;
  padding: 10px;

  @include breakpoint(large) {
    margin-right: 40px;
  }
}

.Slot-tracks {
  display: block;
  width: 100%;
}

.Slot-track {
  $gradient: linear-gradient(to left, rgba(black, .066), rgba(black, 0));

  border-bottom: $SlotBorder;
  display: block;
  padding: 15px 15px 15px 0;
  transition: background-image 300ms;
  width: 100%;

  @include breakpoint(large) {
    padding: 32px 32px 32px 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &:not(&--gray):hover {
    background-image: $gradient;
    cursor: pointer;
  }

  &.is-active {
    background-image: $gradient;
    cursor: default !important;
  }

  &--gray {
    opacity: .6;
  }
}

.Slot-title {
  margin: 0;

  @include breakpoint(large) {
    font-size: 20px;
  }
}

.Slot-meta p {
  margin: 0;

  @include breakpoint(large) {
    font-size: 18px;
  }
}
