@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

$SlotBorder: 1px solid rgba(white, .2);

.Slot {
  border-top: $SlotBorder;
  align-items: flex-start;
  display: flex;
  min-height: 64px;
}

.Slot-time {
  box-sizing: content-box;
  border: $SlotBorder;
  border-top: none;
  font-size: 14px;
  line-height: 16px;
  margin-right: 15px;
  margin-bottom: -1px;
  width: 35px;
  padding: 10px;

  @include breakpoint(large) {
    margin-right: 40px;
  }
}

.Slot-tracks {
  display: block;
  width: 100%;
}

.Slot-track {
  $gradient: linear-gradient(to left, rgba(white, .1), rgba(white, 0));

  border-bottom: $SlotBorder;
  display: block;
  padding: 15px 15px 15px 0;
  position: relative;
  width: 100%;
  z-index: 1;

  @include breakpoint(large) {
    padding: 32px 32px 32px 0;
  }

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    transition: opacity 200ms, transform 200ms;
    right: 0;
    z-index: -1;
  }

  &::before {
    background-image: $gradient;
    bottom: 0;
    left: 0;
    opacity: 0;
    top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &.is-active::before,
  &:not(&--gray):hover::before {
    opacity: 1;
  }

  &:not(&--gray):not(.is-active) {
    cursor: pointer;
  }

  &.is-active::before {
    opacity: 1;
  }

  &--gray {
    opacity: .6;
  }
}

.Slot-title {
  margin: 0;

  @include breakpoint(large) {
    font-size: 20px;
  }
}

.Slot-meta p {
  margin: 0;

  @include breakpoint(large) {
    font-size: 18px;
  }
}
