main {
  @include clearfix;
  min-height: 100vh;
  opacity: 1;
  transition: opacity 0.3s;

  background: $color-jsconf-red;

  > .row {
    max-width: none;
  }

  .is-loading & {
    opacity: 0;
  }
}

@import 'footer';
@import 'sponsors';
