
.Footer {
  background: $color-gray-75;
  padding: $global-padding 0;
  color: #fff;
  font-size: .8em;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
  padding: 2em;

  @media (min-width: 1170px) {
    display: flex;
    align-items: center;
    padding: 1em 2em;

    p {
      margin: 0;
    }
  }
}

.FooterLinks {
  display: inline-block;
  padding-bottom: 1em;
  @media (min-width: 1170px) {
    padding-left: 1em;
    padding-bottom: 0;
  }
}

.FooterLinks-link {
  color: #fff;
  opacity: .75;
  transition: opacity .3s;
}

.SocialLinks {
  margin-left: auto;
}

.SocialLinks-link {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  height: rem-calc(20);
  margin-left: $global-padding / 2;
  opacity: .75;
  overflow: hidden;
  text-indent: -9999px;
  transition: opacity .3s;
  width: rem-calc(20);
}

.FooterLinks-link:hover,
.SocialLinks-link:hover {
  color: #fff;
  opacity: 1;
}

.SocialLinks-twitter {
  background-image: url(../images/twitter.svg);
}

.SocialLinks-github {
  background-image: url(../images/github.svg);
}

.SponsorFooter {
  background-color: #fff;
  background-image: linear-gradient(to bottom, rgba(black, .08) 3px, rgba(black, 0) 50px), linear-gradient(to bottom, rgba($color-jsconf-yellow, .2) 0, rgba($color-jsconf-yellow, 0) 30px);
  color: #444;
  padding: $global-padding * 2 0;
}
