$sponsors-gutter: 20px;

.Sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(medium) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -$sponsors-gutter;
  }

  &-box {
    background: #fff no-repeat center / contain;
    background-origin: content-box;
    padding: 25px 25px;
    display: inline-block;
    margin-bottom: $global-padding;
    position: relative;
    vertical-align: top;
    flex-shrink: 0;

    @include breakpoint(medium) {
      margin-right: $sponsors-gutter;
    }
  }

  &--platinum &-box {
    height: 180px;
    width: 290px;
  }

  &--silver &-box {
    height: 130px;
    width: 210px;
  }

  &--bronze &-box {
    height: 100px;
    width: 150px;
  }
}
