@import "../../css/_settings";

.Profile {
  display: block;
  margin-bottom: 12px;
  text-align: center;

  @media (min-width: 480px) {
    margin-bottom: 48px;
  }
}

.ProfileImage {
  border: 3px solid #444;
  border-radius: 50%;
  display: inline-block;
  height: auto;
  margin: 0;
  position: relative;
  max-width: 100%;
  z-index: 1;

  @media (min-width: 480px) {
    height: 225px;
    width: 225px;
  }
}

.ProfileLinks {
  font-weight: 500;
  font-family: monospace;
  padding-top: 12px;
  text-align: center;

  a:before {
    display: none;
  }
}

.ProfileLink {
  margin: 0;
}

