@import 'variables';

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $breakpoint-lg) {
    font-size: 18px;
  }
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since '*' has a specificity of 0, it does not override the 'html value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $font-family-sans-serif;
  color: #000;
  background-color: #fff;
  text-size-adjust: 100%;
}

// Set defaults for links
a {
  color: $color-jsconf-red;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
  position: relative;
  vertical-align: middle;
}

// Figure elements
figure {
  margin: 2rem 0;
}

figcaption {
  font-size: 80%;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $color-jsconf-red;
  font-size: 85%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid $color-jsconf-red;
}

th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.414rem;
  margin-bottom: 0.5rem;
  // color: #000;
  font-weight: 500;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-top: 0;
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4,
h5,
h6 {
  font-size: $font-size-h4;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

strong {
  color: #000;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid $color-jsconf-red;
}

blockquote {
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;
  border-left: 0.25rem solid $color-jsconf-red;
  color: #000;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $breakpoint-md) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}
