extends ../shared/_page

block icon
  include ../../images/logo-clipped.svg

block title
  | About JSConf

block content
  h2 Wat
  p Lorem ipsum Incididunt Excepteur sunt laborum sit sint laborum dolor laborum deserunt laboris in deserunt consequat aliquip dolor nostrud fugiat tempor consequat dolore proident nostrud eu irure in do laborum qui consequat eu culpa dolor officia dolore et Duis nisi cillum irure tempor enim aliquip minim ut commodo et sint do nostrud minim laboris et Ut ut aliquip dolore anim aliqua dolor labore fugiat reprehenderit mollit veniam elit nisi laborum eu dolor eiusmod id dolore ea ut aliqua aute est eiusmod enim officia officia ut esse nostrud id nisi ut fugiat deserunt culpa laborum irure in qui ea cillum sit ut laborum consectetur irure exercitation irure labore dolor aliqua pariatur incididunt dolor in sunt consectetur ex reprehenderit magna laboris pariatur et in in eu non Excepteur aliqua quis ea commodo Excepteur nisi elit tempor et Excepteur aliqua non sunt est amet labore qui esse veniam voluptate ex dolore sint in ullamco ad in aliquip voluptate exercitation Duis mollit ut adipisicing.
