extends ../shared/_page

block vars
  - var path = '/about';

block icon
  include ../../images/logo-clipped.svg

block title
  | About JSConf

block content
  .row.align-center: .column.medium-8
    include:markdown _about.md
