extends ../shared/_page

block append vars
  - path = '/about';
  - siteTitle = false;

block icon
  include ../../images/logo-clipped.svg

block title
  | JSConf Iceland
  br
  small August 25#[sup th] &mdash; 26#[sup th] 2016

block content
  include:markdown-it(html) _about.md
