extends ../shared/_page

block append vars
  - path = '/schedule';

block icon
  include ../../images/schedule.svg

block title
  | Schedule

block content
  p #[strong Note:] This schedule is tentative and will change without notice leading up to the event.
  h2 Wednesday August 24, 2016
  dl.Agenda
    dt.Agenda-term 20:00 - 23:00
    dd.Agenda-description Welcome reception and badge pick-up

  h2 Thursday August 25, 2016
  dl.Agenda
    dt.Agenda-term 08:00 - 09:30
    dd.Agenda-description Breakfast and badge pick-up
    dt.Agenda-term 09:30 - 10:00
    dd.Agenda-description Opening JSConf Iceland 2016
    dt.Agenda-term 09:30 - 17:30
    dd.Agenda-description Sessions in two tracks
    dt.Agenda-term 12:00 - 13:00
    dd.Agenda-description Lunch
    dt.Agenda-term 19:00 - 23:00
    dd.Agenda-description Party

  h2 Friday August 26, 2016
  dl.Agenda
    dt.Agenda-term 09:00 - 10:00
    dd.Agenda-description Breakfast
    dt.Agenda-term 10:00 - 17:30
    dd.Agenda-description Sessions in two tracks
    dt.Agenda-term 12:00 - 13:00
    dd.Agenda-description Lunch
    dt.Agenda-term 17:30
    dd.Agenda-description Closing remarks
    dt.Agenda-term 19:00 - 23:00
    dd.Agenda-description Closing party

  h2 Saturday August 27, 2016
  dl.Agenda
    dt.Agenda-term 10:00
    dd.Agenda-description Experience Iceland with friends and family

  p During conference hours, we'll do our best to accomodate your partner and kids.
    | Child-care is provided at the venue, as well as day trips to see the local sights.

  //-
    h2 Thursday August 25, 2016

    dl.Agenda
      dt.Agenda-term 08:00 - 09:30
      dd.Agenda-description Breakfast in Harpa
      dt.Agenda-term 10:00 - 17:00
      dd.Agenda-description Day tour - to be announced
      dt.Agenda-term 12:00
      dd.Agenda-description Lunch

    h2 Friday August 26, 2016

    dl.Agenda
      dt.Agenda-term 08:00 - 09:30
      dd.Agenda-description Breakfast in Harpa
      dt.Agenda-term 10:00 - 14:00
      dd.Agenda-description Visit Reykjavik Park and Zoo
      dt.Agenda-term 12:00
      dd.Agenda-description BBQ
      dt.Agenda-term 14:00 - 17:00
      dd.Agenda-description Relax in one of the public swimming pools Iceland is known for
