extends ../shared/_page

block vars
  - var path = '/speakers';

block icon
  include ../../images/call.svg

block title
  | Call for Speakers

block content
  .row.align-center: .column.medium-8
    include:markdown _callforspeakers.md
