extends ../shared/_page

block append vars
  - path = '/speakers';
  - blurb = 'First 6 speakers announced'

block icon
  include ../../images/podium.svg

block title
  | Speakers

block expanded
  .SpeakerList(data-speakers)
    each speaker in speakers
      .Speaker(style="background-image: url(/images/speakers/" + speaker.slug + ".jpg)" alt=speaker.name data-speaker=speaker.slug)
        .Speaker-info
          h3.Speaker-name= speaker.name
          h4.Speaker-company!= speaker.company || '&nbsp;'
