extends ../shared/_page

block append vars
  - path = '/speakers';
  - blurb = 'First 3 speakers announced'

block icon
  include ../../images/call.svg

block title
  | Speakers

block content
  include:markdown-it(html=true) _callforspeakers.md
