extends ../shared/_page

block append vars
  - path = '/speakers';
  - blurb = 'First 6 speakers announced'

block icon
  include ../../images/podium.svg

block title
  | Speakers

block content
  -
    speakers = [{
      name: 'Raquel Vélez',
      twitter: 'rockbot',
      github: 'rockbot',
      website: 'https://rckbt.me/',
      description: 'Senior Software Developer at npm, Inc. She studied Mechanical Engineering at Caltech and worked as a roboticist for 8 years.'
    }, {
      name: 'Lin Clark',
      twitter: 'linclark',
      github: 'linclark',
      website: 'http://lin-clark.com/',
      description: 'Senior Engineer on Firefox developer tools. She is a code cartoonist; she stuffs her head full of coding minutiae and then turns it into <a href="https://twitter.com/codecartoons" target="_blank">@codecartoons</a>.'
    }, {
      name: 'Jan Lehnardt',
      twitter: 'janl',
      github: 'janl',
      website: 'http://writing.jan.io/',
      description: 'Co-curator for JSConf EU, the project lead of Apache CouchDB and co-inventor of Hoodie. He lives in Berlin and likes to change the world.'
    }, {
      name: 'Brian Holt',
      twitter: 'holtbt',
      github: 'btholt',
      website: '',
      description: 'Senior UI Engineer at Netflix, enabling binge watchers everywhere through strategic deployment of JavaScript.'
    }, {
      name: 'Liv Erickson',
      twitter: 'misslivirose',
      github: 'misslivirose',
      website: 'http://livierickson.com',
      description: 'Developer Evangelist at Microsoft, building amazing new things with virtual and augmented reality technologies in the San Fransisco Bay Area.'
    }, {
      name: 'Vitaly Friedman',
      twitter: 'smashingmag',
      github: '',
      website: 'https://www.smashingmagazine.com',
      description: 'Co-founder, writer, speaker, author and editor-in-chief of Smashing Magazine. Based in Germany, loving beautiful content and solving complex UX, front-end and performance problems.'
    }, ]

  .SpeakerList
    each speaker in speakers
      .Speaker
        img.Speaker-photo(src="images/speakers/" + speaker.twitter + ".jpg" alt=speaker.name)
        .Speaker-details
          h2.Speaker-name= speaker.name
          .Speaker-links
            if speaker.twitter
              a.Speaker-link(href="https://twitter.com/" + speaker.twitter target="_blank")
                span.Speaker-icon.fa.fa-twitter
            if speaker.github
              a.Speaker-link(href="https://github.com/" + speaker.github target="_blank")
                span.Speaker-icon.fa.fa-github
            if speaker.website
              a.Speaker-link(href=speaker.website target="_blank")
                span.Speaker-icon.fa.fa-globe
          br
          p.Speaker-desc!=speaker.description

  p.text-center
    | We're currently going over all the proposals we got, more speakers will be announced soon.
