extends ../shared/_page

block append vars
  - path = '/tickets';
  - blurb = 'Sold out! Buy add-ons'

block icon
  include ../../images/ticket.svg

block title
  | Tickets

block content
  section
    p Your ticket includes access to all talks, meals and parties for the days of the conference. If you have any special requirements, please don't hesitate to <a href="mailto:team@jsconf.is">contact us directly</a>.
    
    h4 CONFERENCE IS SOLD OUT
    p Currently selling add-ons for ticket holders.

    ul
      li Significant Other Meal Tickets (15,000 ISK, ~$120 USD)
      li Significant Other Day Trips (1,000 ISK, ~$8 USD)
      li Saturday Evening Blue Lagoon RSVP (0 ISK, $0 USD)
      
    p.text-center
      a.button.large(href="https://ti.to/jsconf-is/2016") SO and Blue Lagoon

    p On Saturday, after two days of epic learning, hacking and partying, join our private community day trips to experience Iceland.
    p There are 4 trips to choose from, covering a range of price and adventure. Each trip uniquely showcases different parts of the Icelandic heritage.

    p.text-center
      a.button.large(href="http://jsconf.whatson.is") Saturday Community Trips

    h2 Workshops (65,000 ISK, ~$515 USD)
    p Two full day workshops will be held by our friends at <a href="http://svef.is" target="_blank" title="The Icelandic Web Industry Association">SVEF</a> on the day before the conference, Wednesday August 24#[sup th]. Only #[strong 45 seats] are available for each workshop. Tickets will be available on April 20#[sup th], 15:00 UTC. #[strong Note that both workshops are held on the same day].
    ul
      li #[strong Using ES6 & React] with&nbsp;
        a(href="/speakers/brian-holt") #[strong Brian Holt]
      li #[strong Smart Responsive Design Patterns: Front-End & Performance] with&nbsp;
        a(href="/speakers/vitaly-friedman") #[strong Vitaly Friedman]

    p.text-center
      a.button.large(href="https://ti.to/svef/2016-workshops") Buy workshop tickets

    h2 Why are you selling all the tickets so early?
    p Iceland is an especially popular tourist destination in the summer. We want to give attendees the chance to make their travel arrangements as far in advance as possible to get the most choices and the best prices.
