extends ../shared/_page

block append vars
  - path = '/tickets';

block icon
  include ../../images/ticket.svg

block title
  | Tickets

block content
  section
    p Your ticket provides you access to all of the social events, all of the lectures. The ticket price also covers the hot and amazing meals prepared for you by our incredible on-site chef over the two (2) days of JSConf Iceland. If you need any assistance/encouragement to help solidify arrangements with your employer OR you require extra assistance, please don't hesitate to <a href="mailto:team@jsconf.is">contact us directly</a>.
    a.button(href="https://ti.to/jsconf-is/2016") Buy tickets
    h2 Conference Attendance Agreements
    p By purchasing a JSConf US ticket, you will be explicitly required to agree with our stated <a href="http://confcodeofconduct.com/" target="_blank">Code of Conduct</a>. You acknowledge that if you or a group you are involved with act in a manner not in accordance with the code of conduct, you will be expelled from the conference with no refund. You agree that you will act with respect for other attendees, organizers, speakers, and staff (both conference and venue) for your entire stay at JSConf Iceland. Finally, you agree that if you see something wrong you will notify a JSConf Iceland Staff member to allow them to take swift and appropriate actions. The privacy of individuals reporting issues will be maintained and we deeply appreciate your willingness to come forward about issues. We are here to help.
    h2 Transferring a Ticket
    p Tickets will not be refunded under any circumstances, but they may be transferred. To transfer the ownership of a JSConf Iceland ticket, you can simply send the registration link you will receive from Tito and allow the individual you are transferring to to update their information. Transfers will not be handled by or involve the JSConf team. Tickets may be transferred until August 10th, 2016 due to printing deadlines. We appreciate your understanding in this matter.
    h2 Why Are You Selling Tickets Before Speakers Are Announced And So Early?
    p Our conference dates are scheduled during a period of time that many individuals may be travelling or taking off, which historically may higher than normal travel costs. We are trying to allow JSConf attendees the ability to book their travel arrangements significantly in advance so as to take advantage of lower prices. We understand that the cost of a conference isn't just the price of the ticket, but also the hotel, travel, ticket, and other miscellaneous items as such we are doing our best to allow you the opportunity to make that as cost-effective as possible. We understand that some people might not be comfortable purchasing a ticket to a conference with little to no insight about what will be presented at the event. We apologize for any inconvenience or uncertainty this may cause you, but we are trying to balance the best of all worlds.
