extends ../shared/_page

block append vars
  - path = '/tickets';
  - blurb = 'Final sale April 18<sup>th</sup>'

block icon
  include ../../images/ticket.svg

block title
  | Tickets

block content
  section
    p Your ticket includes access to all talks, meals and parties for the days of the conference. If you have any special requirements, please don't hesitate to <a href="mailto:team@jsconf.is">contact us directly</a>.

    h4 Early bird (50,000 ISK, ~$400 USD)
    p A limited number of early bird tickets will be available on Valentines day (February 14#[sup th]), 17:00 UTC. #[strong Sold out]

    h4 Regular admission (75,000 ISK, ~$600 USD)
    p Regular admission tickets will be sold in batches:

    ul
      li The first batch will be available March 1#[sup st], 17:00 UTC. #[strong Sold out]
      li The second batch will be available March 8#[sup th], 17:00 UTC. #[strong Sold out]
      li The third batch will be available March 18#[sup th], 10:00 UTC. #[strong Sold out]
      li The fourth batch will be available March 29#[sup th], 21:00 UTC. #[strong Sold out]
      li
        strong The last batch will be available April 18#[sup th], 15:00 UTC.
    
    .text-center
      a.button.large(href="https://ti.to/jsconf-is/2016") Buy tickets

    h2 Why are you selling tickets before speakers are announced?
    p Iceland is an especially popular tourist destination in the summer. We want to give attendees the chance to make their travel arrangements as far in advance as possible to get the most choices and the best prices.
