extends ../shared/_page

block append vars
  - path = '/venue';
  - blurb = 'Official hotel added'

block icon
  include ../../images/tonkvisl.svg

block title
  | Venue

block content
  include:markdown-it(html) _venue.md

block expanded
  .google-maps
