.Dropdown {
  display: inline-flex;
  position: relative;

  &.is-open {
     z-index: 1;
  }

  + .Dropdown {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.Dropdown-btn,
.Dropdown-label {
  background: #4f4f4f;
  font-weight: 700;
  padding: .4rem .8rem;
  text-align: left;
  height: 100%;
}

.Dropdown-btn {
  background: #f3df49;
  color: #2e2e2e;
  font-weight: 700;
  position: relative;
  width: 240px;

  &::after {
    display: block;
    content: '';
    border-bottom: 2px solid #2e2e2e;
    border-left: 2px solid #2e2e2e;
    width: 12px;
    height: 12px;
    position: absolute;
    top: calc(50% - 9px);
    right: 20px;
    transform: rotate(-45deg);
  }
}

.Dropdown-label,
.Dropdown-item,
.Dropdown-btn {
  cursor: pointer;
  font-size: 1rem;
  text-align-last: left;

  &::first-letter {
    text-transform: uppercase;
  }
}

.Dropdown-menu {
  background: #7d7d7d;
  box-shadow: 0 8px 32px rgba(#f3df49, .08);
  max-width: 300px;
  overflow-y: auto;
  position: absolute;
  width: 240px;
  top: 100%;
  z-index: 2;
}

.Dropdown-item {
  border: none;
  color: rgba(0,0,0,.87);
  display: block;
  font-weight: 400;
  height: auto;
  padding: .8rem 1.1rem;
  text-align: left;
  text-transform: none;
  width: 100%;

  &:hover,
  &:focus {
    background: rgba(white, .2);
  }

  &.is-active {
    background: #4f4f4f;
    cursor: default;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #666;
  }
}

