
[show-at] {
  display: none;

  @include breakpoint(medium) {
    &[show-at='medium'] {
      display: block;
    }
  }

  @include breakpoint(large) {
    &[show-at='large'] {
      display: block;
    }
  }
}

[show-on] {
  display: none;

  html[svef-load-state='loaded'][svef-path='/approach'] &[show-on='approach'] {
    display: block;
  }

  html[svef-load-state='loaded'][svef-path='/culture'] &[show-on='culture'] {
    display: block;
  }

  html[svef-load-state='loaded'][svef-path='/positions'] &[show-on='positions'] {
    display: block;
  }
}

html[svef-load-state='loaded'][svef-path='/approach'] [hide-on='approach'] {
  display: none;
}
html[svef-load-state='loaded'][svef-path='/culture'] [hide-on='culture'] {
  display: none;
}
html[svef-load-state='loaded'][svef-path='/positions'] [hide-on='positions'] {
  display: none;
}
html[svef-load-state='loaded'][svef-path='/404'] [hide-on='404'] {
  display: none;
}
