
main {
  @include clearfix;
  opacity: 1;
  transition: opacity .3s;

  background: $color-jsconf-yellow;

  @include breakpoint(small) {
    min-height: calc(100vh - 242px);
  }

  > .row {
    max-width: none;
  }

  .is-loading & {
  	opacity: 0;
  }
}

@import "header";
@import "excert";
@import "footer";
