@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

.PanelButton {
  display: inline-block;
  position: relative;
  margin: 1em 0 1.5em;
  
  &:hover, &:focus {
    .PanelButton-link {
      background: $color-jsconf-red;
      color: $color-gray-75;
    }
  }
  
  &:active &-link {
    transform: translate(6px, 6px);
  }
}

.PanelButton-link {
  background: $color-gray-75;
  font-size: 1em;
  padding: 10px 14px;
  position: relative;
  transition: background, color, transform;
  transition-duration: 250ms;
  z-index: 1;

  &,
  &:visited {
    color: inherit;
  }
}

.PanelButton-link,
.PanelButton-shadow {
  border: 2px solid $color-jsconf-red;
  border-radius: 2px;
  display: inline-block;
}

.PanelButton-shadow {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 100%;
  height: 100%;
}

@include breakpoint(large) {
  .PanelButton-link {
    padding: 20px 28px;
  }
}
