@import "../../css/_settings";
@import "~foundation-sites/scss/util/util";

.Panel {
  background: $color-gray-75;
  border: 2px solid $color-jsconf-yellow;
  box-shadow: 0 13px 10.8px 1.2px rgba(black, .3);
  margin-bottom: 20px;
}

.Panel-header {
  border-bottom: 2px solid $color-jsconf-yellow;
  height: 48px;
  line-height: 48px;
  padding: 0 5px;
}

.Panel-headerButton {
  background: $color-jsconf-yellow;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin-left: 15px;
  width: 16px;
}

.Panel-body {
  color: $color-jsconf-yellow;
  padding: 32px 24px;

  p {
    line-height: 1.3;
  }
}

@include breakpoint(large) {
  .Panel {
    position: relative;
    margin: -26% 0 -250px;
    z-index: 1;
  }
}

@include breakpoint(xlarge) {
  .Panel-body p {
    font-size: 1.8em;
  }
}
