@import "../../css/_settings";

.Panel {
  background: $color-gray-75;
  border: 2px solid $color-jsconf-yellow;
  box-shadow: 0 13px 10.8px 1.2px rgba(black, .3);
  position: absolute;
  top: -100px;
  width: 100%;
  z-index: 1;
}

.Panel-header {
  border-bottom: 2px solid $color-jsconf-yellow;
  height: 48px;
  line-height: 48px;
  padding: 0 5px;
}

.Panel-headerButton {
  background: $color-jsconf-yellow;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin-left: 15px;
  width: 16px;
}

.Panel-body {
  color: $color-jsconf-yellow;
  padding: 32px 24px;

  p {
    font-size: 1.8em;
    line-height: 1.2;
  }
}
