
@keyframes bg {
  0% { background: $dark-gray; }
  100% {  background: $body-background; }
}


@keyframes form {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo {
  0% { transform: translateY(100px); }
  100% { transform: translateY(0); }
}
