.Speaker {
  margin-bottom: 50px;
  text-align: center;

  @include breakpoint(mid) {
    justify-content: center;
    display: flex;
  }

  &-name {
    color: $color-jsconf-yellow;
    line-height: 1;
    margin-bottom: 0.2em;

    @include breakpoint(mid) {
      display: inline;
      margin-right: 0.5em;
    }
  }

  &-photo {
    border-radius: 50%;
    height: 200px;
    margin-bottom: 10px;
    width: 200px;

    @include breakpoint(mid) {
      margin-right: 50px;
    }
  }

  @include breakpoint(mid) {
    &:nth-child(2n) &-photo {
      margin-left: 50px;
      margin-right: 0;
      order: 1;
    }
  }

  &-company {
    margin-bottom: 0.5em;
  }

  &-details {
    padding: 10px;

    @include breakpoint(mid) {
      text-align: left;
      width: 50%;
    }
  }

  &-desc {
    line-height: 1.4em;
  }

  &-links {
    justify-content: center;
    display: inline-flex;
    margin-bottom: 0.2em;
    width: 4.5em;
  }

  &-link {
    font-size: 1.2em;
    margin: 0 5px;

    // No underline
    &::before {
      display: none;
    }
  }

  &-icon {
    transition: color 400ms;

    .Speaker-link:hover & {
      color: $color-jsconf-yellow;
    }
  }
}
