mixin unified(slot)
  td(colspan="2")
    p.Schedule-title!= slot.title

mixin timeSlot(slot)
  tr
    td.Schedule-time= slot.time
    +unified(slot.unified)

mixin dayTable(day)
  table.Schedule.hover.scroll
    colgroup
      col
      col(style="width:50%")
      col(style="width:50%")
    tbody
      each slot in day.slots
        +timeSlot(slot)

h1 Significant Other Track

p TBA
