mixin unified(slot)
  td(colspan="2")
    p.Schedule-title!= slot.title

mixin timeSlot(slot)
  tr
    td.Schedule-time= slot.time
    +unified(slot.unified)

mixin dayTable(day)
  table.Schedule.hover.scroll
    colgroup
      col
      col(style="width:50%")
      col(style="width:50%")
    tbody
      each slot in day.slots
        +timeSlot(slot)

h1 Significant Other Track

p JSConf Iceland is the perfect place to bring the family.
p.
  As a significant other, you can enjoy special activities during conference hours as well as join attendees for
  dinner and evening events. While most of the cost is covered by our awesome sponsors, you need to
  <a href="https://ti.to/jsconf-is/2016/" target="_blank">buy tickets</a> for each of the events you will be
  participating in.

h2 Significant other meal ticket

p.
  In addition to the above, significant others can join attendees for breakfast and the three awesome evening
  parties by purchasing <a href="https://ti.to/jsconf-is/2016/" target="_blank">a meal ticket</a>. It also allows them
  to RSVP to the Blue Lagoon farewell dinner.
