section
  p Tickets include access to all talks, meals and parties for the days of the conference. If you have any special needs or requirements, please don't hesitate to <a href="mailto:team@jsconf.is">contact us directly</a>.

  h3 Early bird ticket sale starting soon!
  p Watch this page, or #[a(href="https://twitter.com/jsconfis" target="_blank") follow us on Twitter] for more details.

  h3 Why are you selling all the tickets so early?
  p Iceland is a popular tourist destination. We want to give attendees the chance to make their travel arrangements as far in advance as possible to get the most choices and the best prices.
