section
  p Your ticket includes access to all talks, meals and parties for the days of the conference. If you have any special requirements, please don't hesitate to <a href="mailto:team@jsconf.is">contact us directly</a>.

  h4 TICKET SALE HAS NOT STARTED

  p.text-center
    a.button.large(href="https://ti.to/jsconf-is/2018") SO and Blue Lagoon

  p On Saturday, after two days of epic learning, hacking and partying, join our private community day trips to experience Iceland.
  p There are 4 trips to choose from, covering a range of price and adventure. Each trip uniquely showcases different parts of the Icelandic heritage.

  h2 Why are you selling all the tickets so early?
  p Iceland is a popular tourist destination. We want to give attendees the chance to make their travel arrangements as far in advance as possible to get the most choices and the best prices.
