section
  p Tickets include access to all talks, meals and parties for the days of the conference. If you have any special needs or requirements, please don't hesitate to <a href="mailto:team@jsconf.is">contact us directly</a>.

  h3 Early bird ticket sale is starting soon!
  p Watch this page, or #[a(href="https://twitter.com/jsconfis" target="_blank") follow us on Twitter] for more details.
