.Page {
  background: $color-jsconf-yellow;
  color: $color-gray-75;
  position: relative;
  overflow: hidden;

  &-header {
    display: flex;
    min-height: 130px;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-headerData {
    align-items: flex-end;
    display: flex;
    position: relative;
    transition: transform 0.3s;

    @include breakpoint(medium) {
      justify-content: center;
    }
  }

  &-content {
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: calc(130px + #{$global-margin});
    padding: $global-margin 0;

    a:not(.u-base-link) {
      @extend .BgLink;
    }

    figure {
      font-size: 0.7em;
      text-align: right;
      margin-left: 0;
      margin-right: 0;

      img,
      > a {
        width: 100%;
      }

      a {
        color: $color-jsconf-purple;
      }

      a:hover {
        color: $color-jsconf-purple;
        text-decoration: underline;
      }

      a::before {
        content: none;
      }
    }
  }

  &-icon {
    display: inline-block;
    height: 60vh;
    left: 15vw;
    margin: 0 $global-margin 0 -$global-margin;
    opacity: 0.03;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 20vh;
    width: 70vw;

    .Svg {
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }

  &-title {
    display: inline-block;
    font-size: rem-calc(20);
    left: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;

    @include breakpoint(medium) {
      font-size: rem-calc(34);
    }

    small {
      display: block;
      margin-top: .8em;
    }
  }

  &-subtitle {
    margin-top: -32px;
    margin-left: $global-margin;

    @media (min-width: 480px) {
      margin-left: 0;
      margin-top: -50px;
      text-align: center;
    }

    a:before {
      display: none;
    }

    a:hover {
      color: currentColor !important;
    }
  }

  /* Modifiers */
  &--inverse {
    background: $color-gray-75;
    color: $white;

    a::before {
      background: $color-jsconf-purple;
    }

    .Page-header {
      color: #fff;

      small a {
        color: $color-jsconf-yellow;
        font-weight: 900;
      }
    }
  }
}
