.Page {
  &-wrap {
    background: $color-jsconf-yellow;
    color: $color-gray-75;
    overflow: hidden;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &-header {
    min-height: 115px;
    padding: 0;
    display: flex;
    height: 130px;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
  }

  &-headerData {
    align-items: flex-end;
    flex-direction: row;
    display: flex;
    height: 100%;
    padding: 0 $global-margin;
    position: relative;
    transition: transform .3s;
    width: 100%;

    @include breakpoint(medium) {
      justify-content: center;
    }
  }

  &-content {
    box-sizing: border-box;
    margin-top: calc(130px + #{$global-margin});
    min-height: 100vh;
    padding: $global-margin 0;
    width: 100vw;

    a {
      @extend .BgLink;
    }

    figure {
      font-size: .7em;
      text-align: right;
      margin-left: 0;
      margin-right: 0;

      img,
      > a {
        width: 100%;
      }

      a {
        color: $color-jsconf-purple;
      }

      a:hover {
        color: $color-jsconf-purple;
        text-decoration: underline;
      }

      a::before {
        content: none;
      }
    }
  }

  &-siteTitle {
    font-size: rem-calc(18);
    left: $global-margin;
    line-height: 1em;
    margin-top: -2px;
    position: absolute;
    top: $global-margin;
    white-space: nowrap;

    @include breakpoint(medium) {
      left: $global-margin * 2;
      top: $global-margin * 2;
    }
  }

  &-close {
    position: absolute;
    right: $global-margin;
    top: $global-margin;
    width: 30px;
    height: 30px;

    font-size: 0;

    @include breakpoint(medium) {
      top: $global-margin * 2;
      right: $global-margin * 2;
    }

    &:before,
    &:after {
      content: '';

      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;

      margin: auto;
      display: block;
      width: 30px;
      height: 3px;

      background: $color-gray-75;

      border-radius: 100%;

      transform: translate3d(0,0,0) rotate(0deg);
      transform-origin: center center;

      transition: transform 750ms;
    }

    &:before {
      transform: translate3d(0,0,0) rotate(45deg);
    }

    &:after {
      transform: translate3d(0,0,0) rotate(-45deg);
    }
  }

  &-icon {
    display: inline-block;
    left: 15vw;
    margin: 0 $global-margin 0 (-$global-margin);
    height: 60vh;
    opacity: .03;
    position: absolute;
    top: 20vh;
    width: 70vw;
    text-align: center;

    @media (max-width: (map_get($breakpoints, large) - 1)) {
      width: 70px;

      .Svg {
        height: 100%;
        width: auto;
        max-width: 100%;
      }
    }
  }

  .Page-icon {
    .Svg {
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }

  &-title {
    display: inline-block;
    font-size: rem-calc(20);
    left: 0;
    margin: 0;
    white-space: nowrap;
    vertical-align: middle;

    @include breakpoint(medium) {
      font-size: rem-calc(34);
      margin-top: 1rem;
    }
  }

  &-subtitle {
    margin-top: -32px;
    margin-left: $global-margin;

    @media (min-width: 480px) {
      margin-left: 0;
      margin-top: -50px;
      text-align: center;
    }

    a:before {
      display: none;
    }

    a:hover {
      color: currentColor !important;
    }
  }

  /* State */
  @at-root  {
    .no-scroll {
      overflow: hidden;
    }
  }

  /* Modifiers */
  &--inverse &-wrap {
    background: $color-gray-75;
    color: $white;

    a::before {
      background: $color-jsconf-purple;
    }

    .Page-header {
      color: $color-jsconf-yellow;
    }
    .Page-close {
      &:before, &:after {
        background-color: $color-jsconf-yellow;
      }
    }
  }
}
