@import '../../_settings';

.Speaker {
  background: no-repeat center center / cover;
  cursor: pointer;
  min-height: 100vw;
  position: relative;
  overflow: hidden;
  width: 100%;

  // Temporary disable link border
  &::before {
    content: none !important;
  }

  &::after {
    background: linear-gradient(
      45deg,
      rgba($color-jsconf-purple, 0.5),
      rgba($color-jsconf-yellow, 0.4)
    );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
  }

  @include breakpoint(medium) {
    min-height: (100vw / 3);
    width: (100% / 3);
  }

  @include breakpoint(large) {
    min-height: (100vw / 4);
    width: (100% / 4);
  }

  &:focus,
  &:hover {
    &::after {
      opacity: 0;
    }

    .Speaker-info::before {
      transform: translateZ(0);
      transition: transform 250ms 100ms;
    }

    .Speaker-info::after {
      transform: skewY(2deg) translate3d(0, -7px, 0);
      transition: transform 300ms 100ms;
    }
  }

  &-info {
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 0.8em;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  &-info::after,
  &-info::before {
    background: $color-jsconf-purple;
    content: '';
    transform: translate3d(0, 100%, 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 300ms;
    width: 100%;
  }

  &-info::after {
    opacity: 0.8;
  }

  &-name,
  &-company {
    position: relative;
    z-index: 2;
  }

  &-name {
    font-size: 1rem;
    margin: 0;
  }

  &-company {
    font-size: 0.7em;
    margin: 0.5em 0 0;
  }
}

.SpeakerList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  width: 100%;
}
