%is-animating {
  $time: 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  .Page-wrap {
    transition: clip $time !important;
  }

  .Page-header,
  .Page-title,
  .Page-icon,
  .Page-content {
    transform-origin: 50% 50%;
    transition: transform $time, opacity $time !important;
  }
}
