@import "_open";

.Page {
  $distance: 20px;
  $time: 250ms;
  $pages: (about, tickets, speakers, venue);

  background: #fff;
  color: $color-gray-75;
  display: block;
  height: 50vh;
  width: 50%;

  &s {
    display: flex;
    flex: 0 1 50%;
    flex-wrap: wrap;
  }

  &--inverse &-header {
    background: $color-gray-75;
    color: $color-jsconf-yellow;
  }

  &-header {
    align-items: center;
    background: $color-jsconf-yellow;
    display: flex;
    height: 50vh;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    width: 50%;
  }

  &-content {
    display: none;
  }

  &-icon {
    transform-origin: 50% 100%;
    transition: transform $time;
  }

  &:hover &-icon {
    transform: translateY(-$distance);
  }

  &-title {
    left: 0;
    margin: $global-margin 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: scale(.8);
    transform-origin: 50% 100%;
    transition: opacity $time, transform $time, visibility $time 0s;
    visibility: hidden;
    width: 100%;
  }

  &:hover &-title {
    opacity: 1;
    transform: translateY(-$distance);
    transition-delay: 0s;
    visibility: visible;
  }

  @each $page in $pages {
    @at-root  {
      html[section="#{$page}"] body {
        overflow: hidden;
      }
    }

    html[section="#{$page}"] &--#{$page} {
      @extend %open-page;
    }
  }
}
