@import "_open";

.Page {
  $distance: 20px;
  $time: 250ms;
  $pages: (about, tickets, speakers, venue);

  display: block;
  height: 25vh;
  position: relative;

  &:nth-child(3) {
    order: 1;
  }

  @include breakpoint(medium) {
    height: 50vh;
    width: 50%;

    &:nth-child(3) {
      order: 0;
    }
  }

  &-wrap {
    background: $color-jsconf-yellow;
    color: $color-gray-75;
    overflow: hidden;
    position: relative;
  }

  &s {
    display: flex;
    flex: 0 1;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  &-header {
    align-items: center;
    display: flex;
    height: 25vh;
    cursor: pointer;
    padding: 0;
    width: 100%;

    @include breakpoint(medium) {
      height: 50vh;
      justify-content: center;
      padding: 0;
      width: 50vw;
    }
  }

  &-headerData {
  }

  &-content {
    background: #fff;
    color: $color-gray-75;
  }

  &-close {
    display: none;
    margin-left: auto;
    margin-right: $global-margin;
  }

  &-icon {
    display: inline-block;
    transform-origin: 50% 100%;
    transition: transform $time;
    margin-right: $global-margin;
    width: 60px;

    @include breakpoint(medium) {
      margin: 0;
      width: 150px;
    }

    > .Svg {
      width: 100%;
    }
  }

  &-title {
    display: inline-block;
    left: 0;
    vertical-align: middle;
    margin: 0;
    transform-origin: 50% 100%;
    transition: opacity $time, transform $time, visibility $time 0s;

    @include breakpoint(medium) {
      display: block;
      opacity: 0;
      margin-top: $global-margin;
      position: absolute;
      text-align: center;
      transform: scale(.8);
      visibility: hidden;
      width: 50vw;
    }
  }

  /* State */
  @include breakpoint(medium) {
    &:hover &-icon {
      transform: translateY(-$distance);
    }

    &:hover &-title {
      opacity: 1;
      transform: translateY(-$distance);
      transition-delay: 0s;
      visibility: visible;
    }
  }

  @at-root  {
    .no-scroll {
      overflow: hidden;
    }
  }
  &.is-open {
    @extend %open-page;
  }

  /* Modifiers */
  &:nth-child(2) &-wrap,
  &:nth-child(3) &-wrap {
    background: $color-gray-75;
    color: $color-jsconf-yellow;
  }

  &--animate * {
    transition: transform, clip !important;
    transition-duration: 400ms !important;
  }
}
