%is-open {
  .Page-wrap {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    z-index: 1;
  }

  .Page-header {
    cursor: default;
    display: flex;
    height: 128px;
    justify-content: flex-start;
    width: 100%;
  }

  .Page-content {
    opacity: 1;
    padding: $global-margin 0;
  }

  .Page-headerData {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%;
  }

  .Page-close {
    left: auto;
    opacity: 1;
    right: $global-margin*2;

    &:before,
    &:after {
      opacity: 1;
    }

    &:before {
      transform: translate3d(0,0,0) rotate(45deg);
    }

    &:after {
      transform: translate3d(0,0,0) rotate(-45deg);
    }
  }

  .Page-icon {
    opacity: .08;
    margin-left: -$global-margin;
  }

  .Page-title {
    font-weight: 900;
    left: 0;
    margin: -0.5em $global-margin 0;
    position: absolute;
    top: 50%;
  }
}
