%open-page {
  backface-visibility: hidden;

  .Page-wrap {
    backface-visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .Page-header {
    backface-visibility: hidden;
    cursor: default;
    height: 128px;
    justify-content: flex-start;
    width: 100%;
  }

  .Page-content {
    overflow-y: auto;
    height: calc(100vh - 128px);

    backface-visibility: hidden;
    padding-top: $global-margin * 2;
  }

  .Page-headerData {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .Page-close {
    display: inline-block;
  }

  .Page-icon {
    backface-visibility: hidden;
    transform: none;
    transition: none;
  }

  .Page-title {
    backface-visibility: hidden;
    opacity: 1;
    position: static;
    transform: none;
    transition: none;
    visibility: visible;
  }
}
