form#mc-embedded-subscribe-form.Form.validate(action='//aranja.us1.list-manage.com/subscribe/post?u=485186247b64d0118d6118298&id=3cebd21344', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
  #mc_embed_signup_scroll
    .cf
      label.Form-title(for='mce-EMAIL') Summer 2016. Sign up for updates.
    .cf
      input#mce-EMAIL.Form-input.email(type='email', value='', name='EMAIL', placeholder='Email address', required='')
    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
    div(style='position: absolute; left: -5000px;', aria-hidden='true')
      input(type='text', name='b_485186247b64d0118d6118298_3cebd21344', tabindex='-1', value='')
    .cf
      input#mc-embedded-subscribe.Form-submit.button(type='submit', value='Sign up', name='subscribe')
