.Agenda {
  font-size: .85em;

  // Simple clearfix.
  &:after {
    clear: left;
    content: '';
    display: block;
  }

  &-term {
    clear: left;
    float: left;
    font-weight: inherit;
    margin: 0;
    opacity: .7;
    width: 7em;
  }

  &-description {
    margin-left: 7em;
  }
}
