@import "_agenda";

.Schedule {
  font-size: .85em;
  font-weight: 500;
  margin-bottom: 2em;
  width: 100%;

  thead > tr,
  tbody > tr:nth-child(even) {
    background: mix($color-jsconf-red, black, 93%);
  }

  td, th {
    padding: .2em .4em;
    vertical-align: middle;
  }

  td[colspan="2"] {
    text-align: center;
  }

  &-time {
    opacity: .7;
    width: 56px;
  }

  &-title {
    margin-bottom: 0;
  }

  &-name {
    color: $color-gray-75;
  }
}
