.Modal {
  $t: 300ms;

  background: $color-jsconf-yellow;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity $t, visibility 0s $t;
  visibility: hidden;
  width: 100%;
  z-index: 2;

  &-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: $global-margin;
  }

  &-sidebar {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity $t, transform $t;
    width: 100px;
  }

  &-content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity $t, transform $t;
  }

  &-sidebar > img {
    border-radius: 50%;
    margin-bottom: 24px;
  }

  &-close {
    font-size: 0;
    height: 30px;
    line-height: 0;
    position: absolute;
    right: $global-margin;
    text-shadow: none;
    top: $global-margin;
    width: 30px;

    &:before,
    &:after {
      background: $color-gray-75;
      border-radius: 100%;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
    }

    &:before {
      transform: translate3d(0, 0, 0) rotate(45deg);
    }

    &:after {
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  }

  @include breakpoint(large) {
    align-items: center;

    &-body {
      flex-direction: row;
      padding: $global-margin * 2;
    }

    &-content {
      flex: 1;
    }

    &-close {
      right: $global-margin * 2;
      top: $global-margin * 2;
    }

    &-sidebar {
      margin-right: 2 * $global-margin;
      width: 250px;
    }

    &-sidebar > img {
      margin-bottom: 0;
    }
  }
  
  &[aria-hidden='false'] {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;

    .Modal-sidebar {
      opacity: 1;
      transform: none;
      transition: opacity $t $t / 2, transform $t $t / 2;
    }

    .Modal-content {
      opacity: 1;
      transform: none;
      transition: opacity $t $t / 2, transform $t $t / 2;
    }
  }
}
