
$form-size: 300px;

.Logo {
  animation: logo 1s 2s backwards;
  background: url(/images/logo.svg);
  color: transparent;
  display: inline-block;
  font: 0/0 a;
  height: $form-size;
  overflow: hidden;
  margin: -68px 0 0 -10px;
  text-shadow: none;
  width: $form-size;
}

.Form {
  &-title,
  &-input,
  &-submit {
    animation: form .8s 2.5s backwards;
    clear: both;
    display: inline-block;
    text-align: center;
    width: $form-size;

    &:before {
      content: ' ';
      display: block;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 900;
    margin: 12px 0;
  }

  &-input {
    animation-delay: 3.25s;
    color: white;
    background: $dark-gray;
    padding: 10px;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  &-submit {
    animation-delay: 3.6s;
    border: 2px solid $dark-gray;
    margin-top: 8px;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
  }
}

.Center {
  display: table;
  height: 100%;
  width: 100%;

  &-content {
    display: table-cell;
    vertical-align: middle;
  }
}
