* {
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes bg {
    0% {
        background: #2e2e2c
    }

    100% {
        background: #f3df49
    }
}

@keyframes form {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes logo {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

body,html {
    height: 100%
}

body {
    animation: bg .7s 1s backwards;
    background: #f3df49;
    color: #2e2e2c;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.Logo {
    animation: logo 1s 1s backwards;
    background: url(/images/logo.svg);
    color: transparent;
    display: inline-block;
    font: 0/0 a;
    height: 200px;
    overflow: hidden;
    margin: 0;
    text-shadow: none;
    width: 200px;
}

.SaveTheDate {
    animation: form .8s 1.5s backwards;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin-top: 0.7em;
}

h2 {
    font-weight: 100;
    font-size: 1.2em;
    margin: 0 0 1em
}

h2 sup {
    margin: 0 1px 0 -1px;
}

@keyframes moodAppear {
    from {
        transform: translateY(100%);
    }
    to {
        transform: none;
    }
}

.EmbedModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.90);
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms, visibility 0s 300ms;
}

.EmbedModal.isActive {
    opacity: 1;
   visibility: visible;
   transition-delay: 0s;
}

.EmbedModal-video {
    box-shadow: 2px 3px 12px 0 rgba(0,0,0,.4);
    width: 90vw;
    position: relative;
    height: 50.625vw;
    max-height: calc(90vh - (0px / 16 / 9));
    max-width: calc((90vh * 16 / 9) - 0px);
    transform: scale(0) translateZ(0);
    transition: transform 300ms;
}

.EmbedModal.isActive .EmbedModal-video {
    transform: none;
}



.EmbedModal iframe {
    display: block;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.Mood a {
    background-color: #e82d6b;
    animation: moodAppear 300ms 3.8s ease 1 backwards;
    display: block;
    padding: 1em;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    position: absolute;
    top: 1.7em;
    left: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav a {
    text-transform: uppercase;
    font-size: 0.82em;
    display: inline-block;
    transform: translateX(-10px);
    transition: transform 250ms, opacity 250ms;
}

.Arrow {
    display: inline-flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid;
    transition: transform 250ms;
    margin-right: 1.5em;
    transform: translateX(10px)
}

nav a:hover {
    opacity: 1;
    transform: none;
}

nav a:hover .Arrow {
    transform: none;
}

footer {
    position: absolute;
    top: 2em;
    right: 1em;
    justify-content: space-between;
}

.FooterLinks {
    display: none;
}

.FooterLinks-link {
    transition: opacity .3s
}

.SocialLinks-link {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: inline-block;
    height: 1.25rem;
    margin-left: .625rem;
    opacity: .75;
    overflow: hidden;
    text-indent: -9999px;
    transition: opacity .3s;
    width: 1.25rem
}

.FooterLinks-link:hover,.SocialLinks-link:hover {
    opacity: 1
}

.SocialLinks-twitter {
    background-image: url(/images/twitter.svg)
}

.SocialLinks-github {
    background-image: url(/images/github.svg)
}


.Form {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 550px;
    width: 100%;
}

.Form-input,
.Form-submit,
.Form-title {
    animation: form .8s 3s backwards;
}

.Form-signup {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.Form-input {
    width: 100%;
}

.Form-title {
    color: #2e2e2c;
    font-size: .6em;
    padding: 0.4em 1em 1em;
    display: inline-block;
    font-weight: 100;
    text-transform: uppercase;
}

.Form-input {
    animation-delay: 3.4s;
    color: #fff;
    background: #2e2e2e;
    padding: 1em;
    font-size: 16px
}

.Form-submit {
    animation-delay: 3.44s;
    border: 1px solid #2e2e2e;
    padding: 1em;
    font-size: 16px;
    margin-bottom: 4em;
    cursor: pointer
}

@media (min-width: 400px) {
    .Form-signup {
        flex-direction: row;
    }

    .Form-submit {
        margin-bottom: 0;
    }
}


@media (min-width: 768px) {
    .Mood a {
        display: table;
        margin: auto;
        bottom: auto;
        font-weight: 100;
        top: 1em; right: 0;
        background: transparent;
        animation: form 1s 4s backwards;
        width: auto;
    }
    .Mood a::after {
        content: '';
        display: block;
        width: 100%; height: 1000px;
        background: #e82d6b;
        position: absolute; top: 0; left: 0;
        transform-origin: 0 80px;
        transform: rotate(-45deg); z-index: -1
    }
    nav {
        left: 2em;
    }
    footer {
        top: auto;
        bottom: 2em;
        left: 2em;
        right: 2em;
        display: flex
    }
    .FooterLinks {
        display: inline-block;
    }
}

.FadeInLast {
    animation: form 1s 4s backwards;
    animation: form 1s 4s backwards;
}

.Center {

}
