extends shared/_layout

block main
  .row.collapse
    section.Page.columns.small-6
      include pages/_about
    section.Page.Page--inverse.columns.small-6
      include pages/_ticket
    section.Page.Page--inverse.columns.small-6
      include pages/_speakers
    section.Page.columns.small-6
      include pages/_venue
