extends shared/_layout

block main
  .row.collapse
    section.Page.Page--about.columns.small-6
      include pages/_about
    section.Page.Page--tickets.Page--inverse.columns.small-6
      include pages/_tickets
    section.Page.Page--speakers.Page--inverse.columns.small-6
      include pages/_speakers
    section.Page.Page--venue.columns.small-6
      include pages/_venue
