extends shared/_layout

block main
  .Pages
    section.Page.Page--about
      include pages/_about
    section.Page.Page--tickets.Page--inverse
      include pages/_tickets
    section.Page.Page--speakers.Page--inverse
      include pages/_speakers
    section.Page.Page--venue
      include pages/_venue
