extends shared/_layout

block main
  .row.collapse
    .columns.small-6
      include pages/_about
    .columns.small-6
      include pages/_ticket
    .columns.small-6
      include pages/_speakers
    .columns.small-6
      include pages/_venue
