@import '../../styles/variables';

.root {
  position: fixed;
  top: 0;
  width: 100%;
  height: $height-header;
  padding: 0.5rem 1.5rem;
  background: #eb5558;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: none;
  z-index: 10;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.headerNav {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  height: 100%;
  align-items: center;

  a {
    color: #fff;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
