@import '../../styles/variables';

.root {
  margin: 2.5rem 0 3.5rem;
}

.inner {
  display: block;
  padding: 1.5rem;
  margin: 0 0.5rem;
  color: $color-gray-5;
  border: 4px solid $color-gray-5;
  box-shadow: -0.5rem 0.5rem $color-gray-5;

  @media (min-width: $breakpoint-md) {
    margin: 0 0.75rem;
    box-shadow: -0.75rem 0.75rem $color-gray-5;
  }

  .title {
    margin-top: 0;
    font-weight: 300;
  }

  .subtitle {
    margin: 0;
    margin-top: 0.5;
    font-weight: 300;
    font-size: $font-size-h3;
  }
}

.image {
  margin: 1.5rem auto;
  max-width: 250px;
  border: 4px solid $color-gray-5;
  border-radius: 250px;
  overflow: hidden;
}
